In [9]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data=pd.read_csv(r"D:\ADV_machineLearning\Student_performance_LR\student_performance_dataset.csv")
data.head()

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,S147,Male,31,68.267841,86,High School,Yes,Yes,63,Pass
1,S136,Male,16,78.222927,73,PhD,No,No,50,Fail
2,S209,Female,21,87.525096,74,PhD,Yes,No,55,Fail
3,S458,Female,27,92.076483,99,Bachelors,No,No,65,Pass
4,S078,Female,37,98.655517,63,Masters,No,Yes,70,Pass

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  708 non-null    object
 1   Gender                      708 non-null    object
 2   Study_Hours_per_Week        708 non-null    int64
 3   Attendance_Rate             708 non-null    float64
 4   Past_Exam_Scores            708 non-null    int64
 5   Parental_Education_Level    708 non-null    object
 6   Internet_Access_at_Home     708 non-null    object
 7   Extracurricular_Activities  708 non-null    object
 8   Final_Exam_Score            708 non-null    int64
 9   Pass_Fail                   708 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 55.4+ KB

In [12]:
data.isnull().sum()

Student_ID                    0
Gender                        0
Study_Hours_per_Week          0
Attendance_Rate               0
Past_Exam_Scores              0
Parental_Education_Level      0
Internet_Access_at_Home       0
Extracurricular_Activities    0
Final_Exam_Score              0
Pass_Fail                     0
dtype: int64

In [13]:
data.describe()

,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Final_Exam_Score
count,708.000000,708.000000,708.000000,708.000000
mean,26.132768,78.107722,77.871469,58.771186
std,8.877727,13.802802,14.402739,6.705877
min,10.000000,50.116970,50.000000,50.000000
25%,19.000000,67.550094,65.000000,52.000000
50%,27.000000,79.363046,79.000000,59.500000
75%,34.000000,89.504232,91.000000,64.000000
max,39.000000,99.967675,100.000000,77.000000

In [14]:
for col in data.columns:
    print(f"{col}: {data[col].unique()}")

Student_ID: ['S147' 'S136' 'S209' 'S458' 'S078' 'S417' 'S302' 'S009' 'S044' 'S331'
 'S451' 'S059' 'S315' 'S295' 'S141' 'S274' 'S327' 'S413' 'S452' 'S386'
 'S079' 'S375' 'S384' 'S207' 'S071' 'S489' 'S066' 'S018' 'S015' 'S155'
 'S159' 'S368' 'S104' 'S329' 'S397' 'S097' 'S112' 'S370' 'S463' 'S060'
 'S041' 'S216' 'S430' 'S377' 'S187' 'S233' 'S166' 'S419' 'S033' 'S185'
 'S057' 'S372' 'S395' 'S211' 'S361' 'S382' 'S389' 'S387' 'S380' 'S020'
 'S445' 'S099' 'S448' 'S408' 'S089' 'S049' 'S194' 'S121' 'S362' 'S322'
 'S499' 'S251' 'S314' 'S200' 'S399' 'S072' 'S162' 'S440' 'S139' 'S449'
 'S108' 'S476' 'S068' 'S178' 'S406' 'S340' 'S379' 'S246' 'S164' 'S008'
 'S051' 'S142' 'S394' 'S045' 'S013' 'S085' 'S300' 'S438' 'S439' 'S012'
 'S366' 'S180' 'S486' 'S431' 'S160' 'S353' 'S265' 'S152' 'S259' 'S429'
 'S014' 'S482' 'S297' 'S055' 'S280' 'S034' 'S494' 'S163' 'S433' 'S028'
 'S328' 'S355' 'S225' 'S213' 'S435' 'S271' 'S365' 'S186' 'S284' 'S019'
 'S143' 'S299' 'S090' 'S214' 'S369' 'S402' 'S344' 'S480' 'S279' 'S262'
 'S086' 'S061' 'S305' 'S414' 'S228' 'S335' 'S074' 'S459' 'S493' 'S367'
 'S403' 'S035' 'S119' 'S003' 'S261' 'S264' 'S478' 'S465' 'S326' 'S298'
 'S253' 'S223' 'S189' 'S124' 'S024' 'S457' 'S487' 'S130' 'S330' 'S381'
 'S101' 'S016' 'S023' 'S091' 'S032' 'S043' 'S277' 'S268' 'S021' 'S197'
 'S291' 'S263' 'S342' 'S324' 'S120' 'S333' 'S077' 'S092' 'S339' 'S084'
 'S258' 'S477' 'S229' 'S237' 'S047' 'S416' 'S428' 'S252' 'S222' 'S390'
 'S042' 'S332' 'S235' 'S345' 'S190' 'S349' 'S409' 'S341' 'S156' 'S241'
 'S011' 'S313' 'S126' 'S221' 'S192' 'S496' 'S017' 'S175' 'S232' 'S138'
 'S254' 'S469' 'S027' 'S360' 'S432' 'S038' 'S154' 'S484' 'S146' 'S294'
 'S283' 'S488' 'S434' 'S039' 'S498' 'S234' 'S073' 'S031' 'S125' 'S410'
 'S053' 'S351' 'S391' 'S257' 'S181' 'S165' 'S461' 'S354' 'S446' 'S447'
 'S455' 'S278' 'S094' 'S226' 'S069' 'S450' 'S026' 'S224' 'S356' 'S321'
 'S188' 'S083' 'S240' 'S095' 'S289' 'S115' 'S325' 'S172' 'S441' 'S198'
 'S103' 'S282' 'S116' 'S436' 'S460' 'S338' 'S244' 'S048' 'S006' 'S052'
 'S470' 'S316' 'S191' 'S347' 'S127' 'S151' 'S157' 'S285' 'S310' 'S270'
 'S219' 'S173' 'S145' 'S249' 'S304' 'S371' 'S140' 'S423' 'S001' 'S412'
 'S056' 'S030' 'S113' 'S150' 'S218' 'S111' 'S248' 'S067' 'S481' 'S239'
 'S238' 'S096' 'S474' 'S495' 'S106' 'S319' 'S088' 'S286' 'S158' 'S466'
 'S444' 'S376' 'S415' 'S247' 'S392' 'S169' 'S398' 'S065' 'S255' 'S293'
 'S202' 'S491' 'S236' 'S364' 'S437' 'S063' 'S290' 'S464' 'S201' 'S133'
 'S036' 'S346' 'S122' 'S308' 'S418' 'S080' 'S208' 'S307' 'S029' 'S479'
 'S177' 'S424' 'S400' 'S093' 'S076' 'S468' 'S312' 'S148' 'S070' 'S040'
 'S467' 'S276' 'S227' 'S393' 'S426' 'S396' 'S411' 'S405' 'S205' 'S050'
 'S350' 'S454' 'S025' 'S144' 'S273' 'S421' 'S058' 'S359' 'S082' 'S206'
 'S323' 'S383' 'S475' 'S301' 'S230' 'S267' 'S022' 'S287' 'S087' 'S231'
 'S373' 'S137' 'S179' 'S217' 'S260' 'S404' 'S348' 'S204' 'S117' 'S114'
 'S456' 'S010' 'S184' 'S153' 'S196' 'S422' 'S401' 'S195' 'S337' 'S318'
 'S007' 'S490' 'S420' 'S081' 'S378' 'S242' 'S102' 'S110' 'S309' 'S193'
 'S388' 'S123' 'S357' 'S256' 'S292' 'S002' 'S243' 'S167' 'S471' 'S311'
 'S425' 'S462' 'S168' 'S306' 'S220' 'S250' 'S275' 'S317' 'S182' 'S128'
 'S075' 'S245' 'S131' 'S107' 'S062' 'S161' 'S336' 'S266' 'S129' 'S485'
 'S037' 'S100' 'S132' 'S054' 'S374' 'S269' 'S210' 'S385' 'S105' 'S497'
 'S170' 'S199' 'S183' 'S215' 'S281' 'S427' 'S352' 'S272' 'S443' 'S500'
 'S303' 'S363' 'S064' 'S453' 'S005' 'S296' 'S320' 'S343' 'S171' 'S288'
 'S174' 'S203' 'S334' 'S098' 'S135' 'S212' 'S134' 'S483' 'S176' 'S004'
 'S109' 'S407' 'S472' 'S442' 'S149' 'S118' 'S358' 'S492' 'S473' 'S046']
Gender: ['Male' 'Female']
Study_Hours_per_Week: [31 16 21 27 37 30 24 34 35 11 25 18 12 32 39 14 36 20 26 38 15 28 29 13
 23 22 19 33 10 17]
Attendance_Rate: [68.26784098 78.22292713 87.52509624 92.07648302 98.65551746 84.15919282
 89.38949444 50.68359824 80.8631856  65.49684631 69.83246865 92.10457075
 78.8815977  66.60732063 62.21765777 55.03973015 93.03160089 71.08519673
 97.70434683 85.19730676 80.09676978 97.22048628 93.82220379 89.07572409
 70.01502445 99.02884001 78.98249672 68.89252746 79.25747662 50.91212407
 78.79992089 77.83607924 96.20208796 59.22314357 93.053401   68.86429826
 84.35827527 90.26574837 73.71186544 88.44588707 81.96806785 65.80982911
 86.60922892 70.31961541 60.08652312 66.6407893  85.92286354 76.48308393
 90.81928676 77.4301559  89.82358878 80.15987011 88.69172616 91.25663383
 62.6944282  92.40640477 66.79329286 95.53120018 81.66203875 60.25226643
 91.85394954 93.41505535 86.07664306 87.08434721 56.43741991 54.55010455
 80.30509405 59.11419392 59.80565498 60.63403922 73.6605059  76.82406757
 62.41132214 96.64690335 98.72736326 84.88337868 98.75335815 97.93135887
 94.98236986 80.52023335 86.02580307 65.72982784 76.86317084 54.36450898
 74.23891836 79.37268021 54.34625075 60.22722966 86.14480483 56.69260594
 77.37231534 74.91238489 67.25960724 99.02313625 87.49553747 77.43576546
 87.21248259 71.10180298 67.69356883 76.71731375 78.47217589 96.60071711
 87.95179228 62.53653303 95.86978065 94.87152049 91.33994139 52.78267447
 88.59409903 63.32491967 95.65828761 54.33526059 61.36978104 76.1801138
 89.50423186 98.39868827 83.49587323 74.53743896 74.71369251 51.1092371
 76.75348595 90.03748857 78.87431355 61.7845873  91.90534816 80.74751316
 66.96356229 77.44609899 68.72176849 62.05424162 66.51742406 68.96528492
 66.50497567 81.68792819 86.04065482 78.288831   76.72279456 84.52801162
 95.93752611 78.27541737 76.72117519 53.31179889 70.72522921 56.61381056
 76.59287398 67.46934995 84.82507331 92.32039247 52.57979033 94.37302413
 99.26836561 54.42041117 55.24345833 69.64947245 79.92213506 79.95146824
 98.10493929 67.57700806 77.86526844 80.39471969 72.85001096 76.9890531
 54.39340556 54.46021644 93.91103337 58.10069389 86.20516646 82.44114201
 64.97979559 86.79523066 79.86390411 86.3060422  60.36138245 66.07913823
 65.38886199 95.15755293 79.64814526 61.36754915 62.57212198 92.536373
 61.79530173 85.80895374 85.70295999 98.77706578 86.8702603  71.33944527
 75.76180274 54.61452931 91.82824066 51.59023407 70.44775885 90.37151259
 53.33095562 93.93145577 81.83221608 84.56109288 63.18419013 68.94107828
 81.20507721 91.25536657 90.25223338 69.86590577 84.68588037 74.05439742
 56.94123867 66.71814057 84.94229266 64.70223396 84.84807312 99.8846308
 84.58571986 95.63747314 61.66082058 94.98337226 55.83480321 79.41318785
 87.8540601  76.49200116 71.57640716 66.87234169 80.1978936  72.98407564
 63.4336241  77.58612976 81.65490317 74.00229835 52.58177389 87.9196207
 61.26663989 91.87453945 88.56233343 81.86157899 78.66471891 71.02678893
 77.79032907 86.52745684 59.00336362 91.5685745  76.7667782  70.12750218
 95.52356392 87.66231104 68.15296061 74.3178741  66.03210961 91.04307366
 57.73360704 76.32892333 71.85966982 95.77568386 63.49556112 55.11063321
 84.38923585 67.76812259 73.00595795 97.46533985 52.34482339 71.93723377
 98.94657178 61.0048607  84.22857739 67.38096072 78.65754246 75.58285068
 95.53430991 51.52360764 72.9494494  85.54762394 59.21854603 87.29872628
 76.8295323  82.56836055 93.36074905 70.21907508 97.76181564 68.88629737
 88.92859695 77.74078043 53.17559148 72.54552237 53.79667052 58.27566587
 50.13554497 88.26781405 67.14634321 90.29324434 99.86277674 53.44607697
 95.92273625 64.39648082 72.59743006 59.97534637 50.37671816 87.73176459
 55.713365   99.4364391  80.37776111 70.2624044  68.8369485  82.25270839
 84.88209357 73.81053484 92.22203363 54.39438123 84.14910317 56.65584643
 74.69907436 67.07816052 76.06503337 87.07304556 74.77118132 57.84888414
 50.26269093 52.20827189 87.99777045 89.02478538 94.71086314 53.86605327
 94.83051315 70.63967753 53.41248527 57.05409244 95.02861506 85.70320411
 51.71140554 91.92912794 60.97552625 60.45653955 75.11441737 59.31604397
 60.2500905  82.33324596 58.336538   79.75244899 88.54556885 81.04028422
 56.14053909 67.2191866  99.54647382 86.84112377 89.59089197 74.85059744
 78.1982546  73.28500612 91.1291938  61.1924533  91.39704436 96.14801159
 74.90825933 89.50067794 88.38897507 74.8732447  88.98793874 74.0572697
 93.71588024 79.91430291 51.64233351 74.39049004 79.2383053  89.2334132
 85.24627748 86.3047793  69.57410551 91.53272533 55.32893651 68.13789473
 60.90115537 59.10535694 86.07982754 86.31985163 53.77516819 74.1877471
 87.84995661 96.68459119 56.95580971 74.90453768 72.9673404  70.39922477
 67.25413139 52.4047322  75.75868412 56.13884448 55.1546873  60.27899042
 61.45126955 67.12621286 63.73658985 55.2123483  67.79957421 77.14246553
 90.34250745 68.9386313  75.30519782 79.41533379 50.61015362 73.55327263
 55.14907397 96.32247118 67.70733354 87.4808116  76.99213895 53.76795302
 72.71339861 92.11570176 55.33496251 53.35877    55.7118963  89.7144725
 81.24879935 65.57365856 51.84109338 95.16819063 90.75272142 91.08953184
 66.19950306 87.620156   99.31284979 57.3869546  74.0418489  73.65831005
 81.23806355 92.03549929 91.98944297 76.99303186 58.27602552 87.478915
 85.34902306 76.7518366  53.8882672  79.35341121 86.01012908 81.16662755
 73.83097421 93.17590703 85.68912274 55.14580154 62.80077659 51.69395801
 79.69415488 73.69849707 70.58306072 57.15639928 73.97910509 76.5632877
 52.29306332 50.26500032 73.41159142 97.95373973 67.75521516 81.94746927
 79.49779486 54.22585038 79.20997424 64.89797258 98.13246593 71.17984312
 89.97685655 82.14627818 61.80582666 99.96767498 60.25387801 70.42591465
 68.46152408 95.39330652 51.15113024 57.00092693 63.61509274 95.59262044
 88.54929628 65.64274283 80.18607659 75.27539396 67.37067041 56.75006387
 78.45407346 65.5722132  63.87935863 76.38238651 98.39970333 92.0219816
 86.81235918 68.96142925 89.9891011  50.12975122 79.32677173 59.32024934
 77.8871133  97.90853965 85.36150478 91.45821104 53.11706813 75.62288279
 50.11696953 54.51684803 92.54087589 69.85819163 93.349688   84.65876057
 98.38496941 80.40439248]
Past_Exam_Scores: [ 86  73  74  99  63  77  95  78  94  58  81  64  62  71  55  79  93  57
  92  69  85  96  66  67  52  91  83  82  88  84  80  56  51  70  97  60
  76  68  65  54  89  87  72  75 100  53  61  50  98  90  59]
Parental_Education_Level: ['High School' 'PhD' 'Bachelors' 'Masters']
Internet_Access_at_Home: ['Yes' 'No']
Extracurricular_Activities: ['Yes' 'No']
Final_Exam_Score: [63 50 55 65 70 61 57 62 59 77 56 58 64 71 67 54 68 53 66 51 60 52 74 72
 69 76 73]
Pass_Fail: ['Pass' 'Fail']

# Binary Features Encoding

In [15]:
binary_cols=['Internet_Access_at_Home','Extracurricular_Activities','Pass_Fail',"Gender"]

# Binary Features Encoding
for col in binary_cols:
    data[col]=data[col].map({'Yes':1,'No':0,'Pass':1,'Fail':0,'Male':1,'Female':0})
    
data.head()

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,S147,1,31,68.267841,86,High School,1,1,63,1
1,S136,1,16,78.222927,73,PhD,0,0,50,0
2,S209,0,21,87.525096,74,PhD,1,0,55,0
3,S458,0,27,92.076483,99,Bachelors,0,0,65,1
4,S078,0,37,98.655517,63,Masters,0,1,70,1

# Multi Categories Features Encoding

In [16]:
# from sklearn.preprocessing import OneHotEncoder

# encoder=OneHotEncoder(sparse_output=False,drop='first')
# encoded_features=encoder.fit_transform(data[['Parental_Education_Level']])

# encoded_df=pd.DataFrame(encoded_features,columns=encoder.get_feature_names_out(['Parental_Education_Level']))


# data=pd.concat([data,encoded_df],axis=1).drop('Parental_Education_Level',axis=1)
# data.head()


#########################################


data_encoded=pd.get_dummies(data,columns=['Parental_Education_Level'],drop_first=True,dtype=int)
data_encoded.head()

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail,Parental_Education_Level_High School,Parental_Education_Level_Masters,Parental_Education_Level_PhD
0,S147,1,31,68.267841,86,1,1,63,1,1,0,0
1,S136,1,16,78.222927,73,0,0,50,0,0,0,1
2,S209,0,21,87.525096,74,1,0,55,0,0,0,1
3,S458,0,27,92.076483,99,0,0,65,1,0,0,0
4,S078,0,37,98.655517,63,0,1,70,1,0,1,0

# Removing unimportant features

In [17]:
df_encoded=data_encoded.drop('Student_ID',axis=1)
df_encoded.head()

,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail,Parental_Education_Level_High School,Parental_Education_Level_Masters,Parental_Education_Level_PhD
0,1,31,68.267841,86,1,1,63,1,1,0,0
1,1,16,78.222927,73,0,0,50,0,0,0,1
2,0,21,87.525096,74,1,0,55,0,0,0,1
3,0,27,92.076483,99,0,0,65,1,0,0,0
4,0,37,98.655517,63,0,1,70,1,0,1,0

# Train_Test_Split

In [23]:
from sklearn.model_selection import train_test_split

X=df_encoded.drop('Final_Exam_Score',axis=1)
y=df_encoded['Final_Exam_Score'].values.reshape(-1, 1)

print(X.shape)
print(y.shape)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

(708, 10)
(708, 1)

# Model Training

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 6.801673628992022
R^2 Score: 0.8401298239083281

# KFold

In [ ]:
from sklearn.model_selection import KFold , cross_val_score

kfFold=KFold(n_splits=6,shuffle=True,random_state=42)

linear_scores=cross_val_score(reg,X_train,y_train,cv=kfFold,scoring='r2')

print("Cross-validated R^2 scores:", linear_scores)

Cross-validated R^2 scores: [0.75988966 0.81000855 0.81379807 0.79441276 0.82454968 0.83385798]

# Ridge Regression

In [27]:
from sklearn.linear_model import Ridge , Lasso 

alphas=[0.1,1.0,10.0,100.0]
ridge_scores={}

for alpha in alphas:
    ridge=Ridge(alpha=alpha)
    scores=cross_val_score(ridge,X_train,y_train,cv=kfFold,scoring='r2')
    ridge_scores[alpha]=scores.mean()
    print(f"Ridge Regression (alpha={alpha}): Mean R^2 Score = {scores.mean()}")
    
best_alpha_ridge=max(ridge_scores,key=ridge_scores.get)
print(f"Best alpha for Ridge Regression: {best_alpha_ridge}")

Ridge Regression (alpha=0.1): Mean R^2 Score = 0.8060930236456799
Ridge Regression (alpha=1.0): Mean R^2 Score = 0.8061052964940328
Ridge Regression (alpha=10.0): Mean R^2 Score = 0.8025574926471982
Ridge Regression (alpha=100.0): Mean R^2 Score = 0.7238345997954098
Best alpha for Ridge Regression: 1.0

# Lasso Regression

In [ ]:
lasso_scores={}

for alpha in alphas:
    lasso=Lasso(alpha=alpha)
    scores=cross_val_score(lasso,X_train,y_train,cv=kfFold,scoring='r2')
    lasso_scores[alpha]=scores.mean()
    print(f"Lasso Regression (alpha={alpha}): Mean R^2 Score = {scores.mean()}")
    
best_lasso_alpha=max(lasso_scores,key=lasso_scores.get)
print(f'Best alpha for Lasso Regression: {best_lasso_alpha}')

Lasso Regression (alpha=0.1): Mean R^2 Score = 0.8054623443074672
Lasso Regression (alpha=1.0): Mean R^2 Score = 0.6605937354304275
Lasso Regression (alpha=10.0): Mean R^2 Score = 0.5171820670604511
Lasso Regression (alpha=100.0): Mean R^2 Score = -0.014708894901963846
Best alpha for Lasso Regression: 0.1

# Comparisons

In [29]:
# Train final models with best parameters
models = {
    'Linear Regression': LinearRegression(),
    'Ridge': Ridge(alpha=best_alpha_ridge),
    'Lasso': Lasso(alpha=best_lasso_alpha, max_iter=1000)
}

# Compare all models
results = {}
for name, model in models.items():
    # Cross-validation scores
    cv_scores = cross_val_score(model, X_train, y_train, cv=kfFold, scoring='r2')
    
    # Fit and test on hold-out set
    model.fit(X_train, y_train)
    test_pred = model.predict(X_test)
    test_r2 = r2_score(y_test, test_pred)
    test_mse = mean_squared_error(y_test, test_pred)
    
    results[name] = {
        'CV R² Mean': cv_scores.mean(),
        'CV R² Std': cv_scores.std(),
        'Test R²': test_r2,
        'Test MSE': test_mse
    }

# Display results
import pandas as pd
results_df = pd.DataFrame(results).T
print("\nModel Comparison:")
print(results_df.round(4))

Model Comparison:
                   CV R² Mean  CV R² Std  Test R²  Test MSE
Linear Regression      0.8061     0.0240   0.8401    6.8017
Ridge                  0.8061     0.0237   0.8404    6.7897
Lasso                  0.8055     0.0224   0.8449    6.5984